.idea
.DS_Store

/src/node_modules/*

/core/bitrix/components/*
/core/bitrix/modules/*
/core/bitrix/tools/*


# ignore cache files and more
/core/bitrix/.settings.php
/core/bitrix/license_key.php
/core/bitrix/.settings_extra.php
/core/bitrix/site_checker_*
/core/bitrix/tmp/*
/core/bitrix/php_interface/*
/core/bitrix/managed_cache/*
/core/bitrix/stack_cache/*
/core/bitrix/backup/*
#/core/bitrix/*
/core/upload/*

/public/crm.serikovcoffee.kz/bitrix/*
/public/crm.serikovcoffee.kz/upload/*
/public/crm.serikovcoffee.kz/local/*

/public/dev.serikovcoffee.kz/bitrix/*
/public/dev.serikovcoffee.kz/upload/*
/public/dev.serikovcoffee.kz/local/*

/public/shop.serikovcoffee.kz/bitrix/*
/public/shop.serikovcoffee.kz/upload/*
/public/shop.serikovcoffee.kz/local/*

/public/serikovcoffee.kz/bitrix/*
/public/serikovcoffee.kz/upload/*
/public/serikovcoffee.kz/local/*