header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

header > div[data-info='computer'] {
  display: none;
}

@media (min-width: 1024px) {
  header > div[data-info='computer'] {
    display: block;
  }
}

header > div[data-info='mobile'] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(34 97 43 / var(--tw-border-opacity));
  display: block;
}

@media (min-width: 1024px) {
  header > div[data-info='mobile'] {
    display: none;
  }
}

header > div[data-info='mobile'] {
  width: 100%;
}

#top-menu {
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
}

#top-menu-items {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.middle-block {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#top-menu-items,
.middle-block,
#main-menu-pc,
.mobile-list-control,
#menu-control-pc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#top-menu-items li {
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

#select-geo-location-pc,
#select-currency-pc,
#select-language-pc,
.multy-list-menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  line-height: 1.5rem;
}

#select-currency-pc,
#select-language-pc {
  position: relative;
}

#select-geo-location-pc > svg {
  height: 1rem;
  width: 1rem;
}

#select-geo-location-pc > svg,
#select-currency-pc > svg,
#select-language-pc > svg {
  fill: #fff;
  flex: none;
}

#select-geo-location-pc:hover,
#select-currency-pc:hover,
#select-language-pc:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
}

#select-geo-location-pc:active,
#select-currency-pc:active,
#select-language-pc:active {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

#select-geo-location-pc:hover svg {
  fill: #FCDC00;
}

#select-geo-location-pc:active svg {
  fill: #fb923c;
}

#select-currency-pc svg,
#select-language-pc svg {
  top: 1rem;
}

#middle-menu {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(34 97 43 / var(--tw-border-opacity));
}

#main-menu-pc > li > a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: lowercase;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

#main-menu-pc > li > a:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
}

#main-menu-pc > li > a:active {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}

#main-menu-pc > li {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#main-menu-pc .stocks {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.middle-block > a > svg {
  width: 9rem;
}

.mobile-header-logo {
  width: 7rem !important;
}

.mobile-list-control > svg {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

#control-user-pc > svg,
#control-basket-pc > svg,
#control-favorite-pc > svg,
#control-search-pc > svg {
  fill: #22612B;
  width: 2rem;
  margin: 1rem;
}

#control-user-pc:hover > svg,
#control-basket-pc:hover > svg,
#control-favorite-pc:hover > svg,
#control-search-pc:hover > svg {
  fill: #FCDC00;
  cursor: pointer;
}

#control-user-pc:active > svg,
#control-basket-pc:active > svg,
#control-favorite-pc:active > svg,
#control-search-pc:active > svg {
  fill: #fb923c;
}

.little-select-menu, .main-menu-level {
  z-index: 10;
  display: none;
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.25rem;
  border-radius: 0.75rem;
  border-style: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(34 97 43 / var(--tw-border-opacity));
}

.little-select-menu {
  top: 15px;
  right: 4px;
  width: 200px;
}

.main-menu-level {
  top: 28px;
  right: 2px;
  width: -moz-max-content;
  width: max-content;
}

#main-menu-catalog:hover .main-menu-level,
#select-currency-pc:hover .little-select-menu,
#select-language-pc:hover .little-select-menu {
  display: block;
}

.main-menu-level a {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
  font-weight: 500;
  text-transform: lowercase;
}

.main-menu-level li {
  margin-top: 14px;
  margin-bottom: 14px;
}

.main-menu-level a:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
}

.main-menu-level a:active {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

#main-search-body {
  z-index: 50;
  position: fixed;
  top: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
  width: 100%;
}

#main-search-line {
  display: flex;
  padding: 60px 0;
}

#main-search {
  display: none;
}

#main-search-s::-moz-placeholder {
  flex: 1 1 0%;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  background: transparent;
  color: rgba(5, 37, 7, 1);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: lowercase;
}

#main-search-s,
#main-search-s:active,
#main-search-s:focus,
#main-search-s::placeholder {
  flex: 1 1 0%;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  background: transparent;
  color: rgba(5, 37, 7, 1);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: lowercase;
}

#main-search-s:focus::-moz-placeholder {
  color: rgba(5, 37, 7, .6);
}

#main-search-s:focus::placeholder {
  color: rgba(5, 37, 7, .6);
}

#btn-search-action, #btn-search-action-close {
  margin: 10px;
}

#btn-search-action {
  cursor: pointer;
  flex: none;
  width: 30px;
}

#btn-search-action-close {
  cursor: pointer;
  flex: none;
  width: 20px;
}

#main-location {
  display: none;
}

#main-location-body {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 12px;
  position: absolute;
  inset: 0px;
  margin: auto;
  z-index: 50;
  padding: 40px;
  width: 620px;
  height: -moz-max-content;
  height: max-content;
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
}

#main-location-header {
  margin-bottom: 2rem;
}

#main-location-header > h3 {
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
}

#main-location-header button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#modal-location-close-btn svg {
  width: 1rem;
  height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

#main-mobile-menu-bar {
  display: none;
  position: relative;
}

#main-mobile-menu-bar-body {
  z-index: 50;
  position: fixed;
  top: 0px;
  right: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-mobile-menu-bar-body > ul > li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#main-mobile-menu-bar-body > ul > li > a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-weight: 500;
}

#main-mobile-menu-bar-body > ul > li > a:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
}

#mobile-menu-close {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#mobile-menu-close svg {
  width: 2rem;
}

#mobile-menu-close svg:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
  cursor: pointer;
}

#mobile-menu-close svg:active {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 1024px) {
  .footer-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.footer-items-social {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .footer-items-social {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .footer-items-social {
    gap: 2rem;
  }
}

.footer-items-menu {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 640px) {
  .footer-items-menu {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .footer-items-menu {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .footer-items-menu {
    grid-column: span 2 / span 2;
  }
}

.footer-items-menu-col {
  text-align: center;
}

@media (min-width: 640px) {
  .footer-items-menu-col {
    text-align: left;
  }
}

.footer-items-menu-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-items-menu-title-two {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-items-menu-ul {
  margin-top: 1rem;
}

.footer-items-menu-ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.footer-items-menu-ul {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer-items-menu-ul > li a {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-items-menu-ul > li a:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
}

.footer-copyright {
  margin-top: 3rem;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  padding-top: 1.5rem;
}

.footer-copyright-container {
  text-align: center;
}

@media (min-width: 640px) {
  .footer-copyright-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

.footer-copyright-text-first {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-copyright-text-second {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .footer-copyright-text-second {
    order: -9999;
    margin-top: 0px;
  }
}

#main-banner img {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.category-slide-item {
  cursor: pointer;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
}

.category-slide-item.active {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity));
}

.category-slide-item-menu{
  display: none;
  align-items: center;
  justify-content: space-between;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.category-slide-item-menu li {
  cursor: pointer;
  font-weight: 500;
}

.category-slide-item-menu.active {
  display: flex;
}

#main-category-two-level {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#last-news-items {
  display: flex;
  flex-direction: row;
}

.container-news-item {
  padding: 2rem;
  width: 57%;
}

.last-news-item {
  position: relative;
  flex-basis: 50%;
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
  border-radius: 0.75rem;
  overflow: hidden;
}

.last-news-item:nth-child(1) {
  margin-right: 0.5rem;
}

.last-news-item:nth-child(2) {
  margin-left: 0.5rem;
}

.last-news-item > img {
  height: 100%;
  position: absolute;
  top: 0px;
  right: -0.875rem;
}

.news-item-section {
  accent-color: #22612B;
  text-transform: lowercase;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.news-item-title,
.news-item-description {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.news-item-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.news-item-description{
}

.catalog-item {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 0.75rem;
  width: 313px;
}

.catalog-item-images {
}

.catalog-item-title {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
}

.catalog-item-images > img {
}

.container-catalog-item {
  position: relative;
  padding: 2rem;
}

.catalog-item-processing {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
  margin-bottom: 0.5rem;
}

.catalog-item-options {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: start;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
}

.catalog-item-option-desc {
  text-align: left;
  font-weight: 500;
}

.catalog-item-option-desc-price {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.catalog-item-select-price,
.catalog-item-select-grinding {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  line-height: 1.5rem;
  position: relative;
}

.catalog-item-select-grinding-menu {
  z-index: 10;
  display: none;
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.25rem;
  border-radius: 0.75rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(34 97 43 / var(--tw-border-opacity));
  width: -moz-max-content;
  width: max-content;
  top: 1.25rem;
  left: 0px;
}

.catalog-item-select-grinding-menu > ul > li:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
  cursor: pointer;
}

.catalog-item-select-grinding-menu > ul > li:active {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

.catalog-item-select-price:hover .catalog-item-select-grinding-menu,
.catalog-item-select-grinding:hover .catalog-item-select-grinding-menu {
  display: block;
}

.catalog-item-control {
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.catalog-item-select-count {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  line-height: 1.5rem;
}

.catalog-item-control-buy {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(252 220 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.catalog-item-add-favorite {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.catalog-item-add-favorite svg {
  cursor: pointer;
  fill: #22612B;
}

.catalog-item-add-favorite:hover svg {
  fill: #FCDC00;
}

.catalog-item-add-favorite:active svg {
  fill: #fb923c;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-prime {
  display: block;
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 24rem;
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
  --tw-bg-opacity: 1 !important;
  background-color: rgb(252 220 0 / var(--tw-bg-opacity)) !important;
}

.btn-prime:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

/*
! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Gotham-Pro;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[multiple],[size]:where(select:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='checkbox']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='radio']:checked {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active)  {
  [type='checkbox']:indeterminate {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
  }
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-Bold.eot');

  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-Light.eot');

  src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype');

  font-weight: 300;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-Black.eot');

  src: local('Gotham Pro Black'), local('GothamPro-Black'),
        url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Black.woff2') format('woff2'),
        url('../fonts/GothamPro-Black.woff') format('woff'),
        url('../fonts/GothamPro-Black.ttf') format('truetype');

  font-weight: 900;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-Italic.eot');

  src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
        url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Italic.woff2') format('woff2'),
        url('../fonts/GothamPro-Italic.woff') format('woff'),
        url('../fonts/GothamPro-Italic.ttf') format('truetype');

  font-weight: normal;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro Narrow';

  src: url('../fonts/GothamProNarrow-Bold.eot');

  src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
        url('../fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
        url('../fonts/GothamProNarrow-Bold.woff') format('woff'),
        url('../fonts/GothamProNarrow-Bold.ttf') format('truetype');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-Medium.eot');

  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype');

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-BoldItalic.eot');

  src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
        url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
        url('../fonts/GothamPro-BoldItalic.ttf') format('truetype');

  font-weight: bold;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro.eot');

  src: local('Gotham Pro'), local('GothamPro'),
        url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-MediumItalic.eot');

  src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
        url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
        url('../fonts/GothamPro-MediumItalic.ttf') format('truetype');

  font-weight: 500;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-BlackItalic.eot');

  src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
        url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
        url('../fonts/GothamPro-BlackItalic.ttf') format('truetype');

  font-weight: 900;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro Narrow';

  src: url('../fonts/GothamProNarrow-Medium.eot');

  src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
        url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
        url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
        url('../fonts/GothamProNarrow-Medium.ttf') format('truetype');

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';

  src: url('../fonts/GothamPro-LightItalic.eot');

  src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
        url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-LightItalic.woff') format('woff'),
        url('../fonts/GothamPro-LightItalic.ttf') format('truetype');

  font-weight: 300;

  font-style: italic;

  font-display: swap;
}

html {
  font-family: 'Gotham Pro', serif;
  text-rendering: geometricPrecision;
  scroll-behavior: smooth;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

section[data-margin="true"] {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: lowercase;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  margin-bottom: 1rem;
}

.body-blur {
  position: fixed;
  z-index: 20;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  background-color: rgba(255, 255, 255, .2);
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 280px) {
  .container {
    max-width: 280px;
  }
}

@media (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-right-3 {
  right: -0.75rem;
}

.-top-11 {
  top: -2.75rem;
}

.right-4 {
  right: 1rem;
}

.top-0 {
  top: 0px;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ms-2 {
  margin-inline-start: 0.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.w-28 {
  width: 7rem;
}

.w-4 {
  width: 1rem;
}

.w-48 {
  width: 12rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[26px\] {
  width: 26px;
}

.w-\[313px\] {
  width: 313px;
}

.w-\[57\%\] {
  width: 57%;
}

.w-full {
  width: 100%;
}

.max-w-sm {
  max-width: 24rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-green-850 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 97 43 / var(--tw-bg-opacity));
}

.bg-yellow-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 220 0 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-16 {
  padding-top: 4rem;
}

.text-center {
  text-align: center;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
  font-style: italic;
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-green-850 {
  --tw-text-opacity: 1;
  color: rgb(34 97 43 / var(--tw-text-opacity));
}

.text-teal-600 {
  --tw-text-opacity: 1;
  color: rgb(13 148 136 / var(--tw-text-opacity));
}

.text-teal-700 {
  --tw-text-opacity: 1;
  color: rgb(15 118 110 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.outline {
  outline-style: solid;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:text-teal-700\/75:hover {
  color: rgb(15 118 110 / 0.75);
}

.hover\:text-yellow-300:hover {
  --tw-text-opacity: 1;
  color: rgb(252 220 0 / var(--tw-text-opacity));
}

.focus\:border-green-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(34 197 94 / var(--tw-border-opacity));
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
}

.focus\:ring-green-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(34 197 94 / var(--tw-ring-opacity));
}

@media (min-width: 640px) {
  .sm\:order-first {
    order: -9999;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:pt-24 {
    padding-top: 6rem;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
  }

  .dark\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }

  .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:placeholder-gray-400::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity));
  }

  .dark\:placeholder-gray-400::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity));
  }

  .dark\:focus\:border-green-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(34 197 94 / var(--tw-border-opacity));
  }

  .dark\:focus\:bg-blue-600:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  }

  .dark\:focus\:ring-blue-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
  }

  .dark\:focus\:ring-green-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(34 197 94 / var(--tw-ring-opacity));
  }
}