.default-modal {
    @apply hidden;
    background-color: rgba(34, 97, 43, 0.3);
    @apply overflow-y-auto;
    @apply overflow-x-hidden;
    @apply fixed top-0;
    @apply right-0;
    @apply left-0;
    @apply z-50;
    @apply justify-center;
    @apply items-center;
    @apply w-full;
    @apply md:inset-0;
    @apply h-full;
    @apply max-h-full;
}

.modal-block {
    @apply z-30;
    @apply m-auto;
    @apply relative;
    @apply p-4;
    @apply w-full max-w-2xl max-h-full;
}

.modal-content {
    @apply relative;
    @apply bg-white;
    @apply rounded-lg;
    @apply shadow;
}

.modal-header {
    @apply flex;
    @apply items-center;
    @apply justify-between;
    @apply p-4;
    @apply md:p-5;
    @apply border-b;
    @apply rounded-t;
}

.modal-header > h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply text-gray-900;
}

.modal-header > button {
    @apply text-gray-400;
    @apply bg-transparent;
    @apply hover:bg-gray-200;
    @apply hover:text-gray-900;
    @apply rounded-lg;
    @apply text-sm;
    @apply w-8 h-8;
    @apply ms-auto;
    @apply inline-flex;
    @apply justify-center;
    @apply items-center;
}

.modal-body {
    @apply p-4;
    @apply md:p-5;
    @apply space-y-4;
}

.body-blur {
    position: fixed;
    @apply z-20;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.modal-body > p {
    @apply text-base;
    @apply leading-relaxed;
    @apply text-gray-500;
}

.modal-footer {
    @apply flex;
    @apply items-center;
    @apply p-4;
    @apply md:p-5;
    @apply border-t;
    @apply border-gray-200;
    @apply rounded-b;
}

.modal-btn-accept {
    @apply text-white;
    @apply bg-blue-700 !important;
    @apply hover:bg-blue-800 !important;
    @apply focus:ring-4;
    @apply focus:outline-none;
    @apply focus:ring-blue-300;
    @apply font-medium;
    @apply rounded-lg;
    @apply text-sm;
    @apply px-5 py-2.5;
    @apply text-center;
}

.modal-btn-decline {
    @apply py-2.5 px-5;
    @apply ms-3;
    @apply text-sm font-medium text-gray-900;
    @apply focus:outline-none;
    @apply bg-white;
    @apply rounded-lg;
    @apply border;
    @apply border-gray-200;
    @apply hover:bg-gray-100;
    @apply hover:text-blue-700;
    @apply focus:z-10;
    @apply focus:ring-4;
    @apply focus:ring-gray-100;
}



