

/* Start:/bitrix/templates/call_app/template_styles.min.css?1728733180190*/
html{-webkit-text-size-adjust:none;min-height:100%;background-color:#2b3038}body{padding:0;margin:0;font-family:var(--ui-font-family-primary,var(--ui-font-family-helvetica));min-height:100%}
/* End */
/* /bitrix/templates/call_app/template_styles.min.css?1728733180190 */
