<!doctype html>
<html lang="ru">
<head>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?=$title?></title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="Sivakon Maxim | bearmax.ru">
    <meta property="og:title" content="DEMO Template sericov coffee">
    <meta property="og:type" content="website">
    <meta property="og:description" content="DEMO Template sericov coffee">
    <meta property="og:image" content="">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">

    <link href="/assets/style/build/final.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/normalize.min.css">
    <link rel="stylesheet" href="/assets/style/slider.css">
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="stylesheet" href="/assets/style/new_style.css">
    <script src="/assets/js/header_scroll.js" async></script>
    <script src="/assets/js/slider.min.js"></script>

    <!-- -- start -- -->
    <!-- files undefined and unchecked -- start -- -->

    <link href="/bin/style/bread_crumb.css" rel="stylesheet">
    <link href="/bin/style/detail.css" rel="stylesheet">
    <link href="/bin/style/input.css" rel="stylesheet">
    <link href="/bin/style/media.css" rel="stylesheet">
    <link href="/bin/style/new_style.css" rel="stylesheet">
    <link href="/bin/style/product.css" rel="stylesheet">
    <link href="/bin/style/product_additional.css" rel="stylesheet">
    <link href="/bin/style/search.css" rel="stylesheet">
    <link href="/bin/style/select.css" rel="stylesheet">
    <link href="/bin/style/select_city.css" rel="stylesheet">
    <link href="/bin/style/slider.css" rel="stylesheet">

    <!-- files undefined and unchecked -- finish -- -->
    <!-- -- finish -- -->

</head>

<body>
<img src="assets/images/CAT.png" STYLE="  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; width: 100%;" >
</body>
</html>